/* Стиль VBox с рамкой */
.vbox-with-border {
    -fx-border-color: #000000; /* Чёрный цвет рамки */
    -fx-border-width: 1px; /* Ширина рамки */
    -fx-border-style: solid; /* Стиль линии рамки (сплошная линия) */
}

/* Стиль HBox с рамкой */
.hbox-with-border {
    -fx-border-color: #000000; /* Чёрный цвет рамки */
    -fx-border-width: 1px; /* Ширина рамки */
    -fx-border-style: solid; /* Стиль линии рамки (сплошная линия) */
    -fx-background-color: rgba(170, 170, 255, 0.2); /* Светлый цвет фона с прозрачностью */
}

/* Стиль AnchorPane с двойной рамкой */
.anchor-pane-with-border {
    -fx-border-color: #000000; /* Чёрный цвет рамки */
    -fx-border-width: 1px; /* Двойная рамка со всех сторон */
    -fx-padding: 1px; /* Отступ внутри контейнера */
    -fx-background-color: rgba(170, 170, 255, 0.8); /* Светлый цвет фона с прозрачностью */
}
