/* Стиль для элементов ListView */
.list-view {
    -fx-background-color: #87CEEB; /* Светло-синий цвет фона */
    -fx-text-fill: #FFFFFF; /* Белый цвет текста */
    -fx-border-width: 1px; /* Ширина рамки */
    -fx-border-style: solid; /* Стиль линии рамки (сплошная линия) */
    -fx-background-color: #B0E0E6; /* Голубой цвет фона при наведении */
}

/* Стиль для выбранных элементов в ListView */
.list-cell:selected {
    -fx-background-color: #1E90FF; /* Голубой цвет фона для выбранных элементов */
    -fx-text-fill: #FFFFFF; /* Белый цвет текста для выбранных элементов */
}

/* Стиль для наведения курсора на элементы ListView */
.list-cell:hover {
    -fx-background-color: #B0E0E6; /* Голубой цвет фона при наведении */
}
