/* Стиль меток с светлым оттенком */
.label {
    -fx-font-size: 15px; /* Размер шрифта */
    -fx-font-weight: bold; /* Жирный шрифт */
    -fx-text-fill: #000000; /* Черный цвет текста */
    -fx-background-color: rgba(170, 170, 255, 0.2); /* Светлый цвет фона с прозрачностью */
}

/* Стиль TextField */
.text-field {
    -fx-font-size: 15px; /* Размер шрифта */
    -fx-text-fill: #000000; /* Синий цвет текста */
    -fx-background-color: rgba(173, 216, 230, 0.1); /* Голубой фон с небольшой прозрачностью */
    -fx-border-color: #000000; /* Синяя рамка */
    -fx-border-width: 0px; /* Толщина рамки */
    -fx-border-radius: 5px; /* Закругленные углы */
}

/* Стиль ComboBox */
.combo-box {
    -fx-font-size: 15px; /* Размер шрифта */
    -fx-text-fill: #000000; /* Синий цвет текста */
    -fx-font-weight: bold;
    -fx-background-color: rgba(173, 216, 230, 0.2); /* Голубой фон с небольшой прозрачностью */
    -fx-border-color: #000000; /* Синяя рамка */
    -fx-border-width: 1px; /* Толщина рамки */
    -fx-border-radius: 5px; /* Закругленные углы */
}

/* Стиль ComboBox - когда выпадающий список открыт */
.combo-box-popup {
    -fx-background-color: rgba(173, 216, 230, 0.3); /* Голубой фон выпадающего списка с прозрачностью */
    -fx-border-color: #0000FF; /* Синяя рамка выпадающего списка */
    -fx-border-width: 1px; /* Толщина рамки */
}
